@keyframes upanddown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
  
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #e998bf, #c32a50);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 3rem 3rem;
  border-radius: 20px;
  box-shadow: 0 0px 50px rgb(235, 140, 192);
  text-align: center;
  max-width: 400px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #d6336c;
}

h2 {
  margin: 1.5rem 0;
  color: #333;
}

p {
  color: #555;
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1rem 0;
}

button {
  padding: 1.2rem 3rem;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:first-child {
  background-color: #d6336c;
  color: white;
}

button:first-child:hover{
  transform: scale(1.5);
}

button:last-child {
  background-color: #dee2e6;
  color: #333;
}

button:last-child:hover{
  transform: scale(0.5);
}

.response {
  margin-top: 1.5rem;
  font-weight: bold;
  color: #d6336c;
  font-size: 2rem;
  animation: upanddown 1s infinite .2s linear;
}
